In [1]:
import pandas as pd

In [2]:
df = pd.read_json('words.json')
df.rename(columns = {'message':'word'}, inplace = True)

df

       word
0     jolty
1     mixer
2     yahwe
3     vague
4     owler
...     ...
6366  vexed
6367  inapt
6368  platy
6369  drunk
6370  brusk

[6371 rows x 1 columns]

In [3]:
expandeds = []

for index, row in df.iterrows():
    word = list(row['word'])
    expandeds.append(word)

In [4]:
expandeds_df = pd.DataFrame(expandeds, columns=['0_char','1_char','2_char','3_char','4_char',])
expandeds_df['word'] = df['word']

expandeds_df

     0_char 1_char 2_char 3_char 4_char   word
0         j      o      l      t      y  jolty
1         m      i      x      e      r  mixer
2         y      a      h      w      e  yahwe
3         v      a      g      u      e  vague
4         o      w      l      e      r  owler
...     ...    ...    ...    ...    ...    ...
6366      v      e      x      e      d  vexed
6367      i      n      a      p      t  inapt
6368      p      l      a      t      y  platy
6369      d      r      u      n      k  drunk
6370      b      r      u      s      k  brusk

[6371 rows x 6 columns]